@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    #487, BoroMogbazar, Wireless Rail Gate<br />
    Ramna, Dhaka, 1217.<br />
    <abbr title="Phone">P:</abbr>
    <b>01857288438</b><br />
    <b>01990626767</b>
</address>

<address>
    <strong>GMail me At: </strong>   <a href="mailto:khondokerfarhad67@gmail.com">khondokerfarhad67@gmail.com</a><br />
    <strong>Microsoft:</strong> <a href="mailto:Marketing@example.com">khondokerfarhad67@outlook.com</a>
</address>