@{
    ViewBag.Title = "Home Page";
}

<vr></vr>
<hr/>
<h3 style="text-align:center; border:4px solid green">Project Summary</h3>
<hr /><hr /><hr /><br /><br /><br />
                              <div class="row">
                                  <div class="col-sm-8" style="background-color:lightskyblue">
                                      <div class="card">
                                          <div class="card-body">
                                              <ul>
                                                  <li><h5 class="card-title">Employee Management</h5></li>
                                                  <li><p class="card-text">Employee Crud with MVC5 & AngularJS</p></li>
                                                  <li><p class="card-text">ADO.NET Data Model is used</p></li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-4" style="background-color:cornflowerblue">
                                      <div class="card">
                                          <div class="card-body">
                                              <ul>
                                                  <li><h5 class="card-title">Employee Management</h5></li>
                                                  <li><p class="card-text">Employee Crud with MVC5 & AngularJS</p></li>
                                                  <li><p class="card-text">ADO.NET Data Model is used</p></li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>

